.activity {
    border: 1px solid green;
    width: 290px;
    padding: 10px;
    border-radius: 5px;
}
.activity-image img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
}
.btn-activity {
    background: #FFE0B3;
    border: none;
    border-radius: 7px;
    padding: 10px;
    width: 40%;
    font-weight: bold;
}