.activities-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile-info {
    margin-left: 10px;
}

.more-info {
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
    margin-right: 15px;
    padding: 0;
   border-radius: 10px;
}

.info {
    margin-left: 20px;
    margin-top: 10px;
}
.btn-group {
    background-color: #8e7575;
    padding: 20px 5px;
    margin-right: 10px;
    border-radius: 10px;
}
.btn-time {
    border: none;
    padding: 10px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: blanchedalmond;
    font-size: 15px;
    font-weight: 600;
}

.exercise-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
.exercise-details p {
    margin-right: 10px;
}

.btn-activity-complete {
    background: aqua;
    border: none;
    border-radius: 7px;
    padding: 15px;
    width: 100%;
    font-weight: bold;
    margin-right: 10px;
}