.exercise-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
.exercise-details p {
    margin-right: 10px;
}